@media (min-width: 992px) {
  .section-content {
    display: flex;
    justify-content: space-between;
  }

  #team p {
    max-width: 400px;
  }

  #carrousel {
    height: 280px !important;
  }

  .profissional img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  .imgs {
    display: grid;
    grid-template-columns: 9.5rem 9.5rem 9.5rem;
    grid-template-rows: 9.5rem 9.5rem 9.5rem 9.5rem;
    grid-template-areas:
    "R1 F1 R2"
    "F2 F1 F3"
    "F2 F4 F3"
    "R3 F4 R4";
    gap: 1rem;
  }
 
  .imgs img {
    width: 10rem;
  }

  .img-2, .img-3, .img-4 {
    display: block;
  }

  .img-1 {
    grid-area: F1;
  }

  .img-2 {
    grid-area: F2;
  }

  .img-3 {
    grid-area: F3;
  }

  .img-4 {
    grid-area: F4;
  }

  .work-together {
    width: 20rem;
  }

}
