@media (min-width: 576px) and (max-width: 992px) {
    .section-album {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
    }

    .img-album {
        width: 100%;
        height: 100%;
        min-width: 378px;
        min-height: 202.5px;
        max-width: 516px;
        max-height: 276px;
    }
    .bottom-pre-fotter{
        margin: 40px 0 40px;
    }
}

@media (min-width: 815px) and (max-width: 992px) {
    .section-album {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
    }

    .img-album {
        width: 100%;
        height: 100%;
        min-width: 378px;
        min-height: 202.5px;
        max-width: 516px;
        max-height: 276px;
    }
    .bottom-pre-fotter{
        margin-top: 90px;
    }
}

@media (min-width: 992px) {
    .section-album {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .img-album {
        width: 100%;
        height: 100%;
        min-width: 416px;
        min-height: 223px;
    }

    .button-album {
        font-size: 14px;
        line-height: 20px;
        padding: 1px 12px;
        border: 1px solid var(--text-primary);
    }

    .bottom-pre-fotter{
        margin-top: 70px;
    }

}