@import url(./variables.css);

h1 span {
  color: var(--text-primary);
}

section i {
  color: var(--text-primary);
}

h1 {
  flex: 1;
}

.info {
  width: 100%;
}

.about {
  position: absolute;
  width: 140px;
  left: -90px;
  bottom: 35%;
  transform: rotate(-90deg);
}

.imgs img {
  width: 8rem;
}

.img-2, .img-3, .img-4 {
  display: none;
}

#carousel {
  height: 230px !important;
}

#carousel i {
 color: var(--text) !important;
}

#carousel .carousel-control-prev, #carousel .carousel-control-next  {
  display: none;
}


.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: flex !important;
  justify-content: center;
  gap: 30px;
}

.profissional h6 {
  margin-bottom: 0;
  font-weight: 700;
}

.profissional {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.profissional img {
  width: 150px;
  height: 135px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 5px;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--text-secondary) !important;
  opacity: 1 !important;
}

.carousel-indicators .active {
  background-color: var(--text-primary) !important;
}

.work-together {
  width: 15rem;
  margin-bottom: 50px;
}

.pre-footer {
  margin: 0 auto;
}

@media (min-width: 576px) {
  #carousel .carousel-control-prev, #carousel .carousel-control-next  {
    display: block;
  }
}

