@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--default-bg) !important;
  grid-template-columns: 100%;
  grid-template-rows: 60px auto 90px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

body,
a,
button,
textarea,
input {
  font-family: var(--bs-font-sans-serif);
  font-size: 14px !important;
}

a {
  color: var(--text);
  text-decoration: none;
}

main {
  grid-area: content;
  min-height: 100vh;
  margin: 0 20px;
  max-width: 900px;
}

section {
  margin-top: 50px;
}

h2 {
  border-bottom: 1px solid var(--text);
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 18px !important;
}

/*------------ NavBar-----------------*/

nav.bg-light {
  background-color: var(--default-bg) !important;
}

nav {
  min-height: 60px;
  grid-area: header;
}

.nav-link#home,
.nav-link#services,
.nav-link#projects,
.nav-link#contact,
.nav-link#gallery,
.nav-link#profile {
  color: var(--text-primary) !important;
  text-decoration: underline;
}

.btn.btn-default {
  background-color: var(--text-primary);
  border: 1px solid var(--text-primary);
  color: var(--text-hl);
}

.btn.btn-default:hover {
  border: 1px solid var(--text-primary);
  color: var(--text);
}

.btn.btn-second {
  color: var(--text-primary);
}

.btn.btn-second:hover {
  border: 1px solid var(--text-primary);
  color: var(--text);
}

.nav-link {
  color: var(--text) !important;
  padding: 8px 15px !important;
}

.nav-link:hover {
  color: var(--text-primary) !important;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .nav-item .btn.btn-default {
    margin-top: 0px !important;
  }

  .navbar > .container-fluid {
    padding: 0 40px;
    justify-content: end !important;
  }

  main {
    margin: 0 auto;
  }
}

/* -------- Footer -------- */

footer {
  grid-area: footer;
  background-color: var(--text-primary);
  color: var(--text-hl);
}

footer a {
  color: var(--text-hl);
  text-decoration: none;
}

footer a:hover {
  color: var(--text-hl);
}

@media (min-width: 576px) {
  body,
  a,
  button,
  textarea,
  input {
    font-size: 16px !important;
  }

  .buttons i {
    font-size: 1.2rem;
  }
}
