@import url("variables.css");

* {
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--text-secondary);
  width: 100%;
  height: 100vh;
  display: flex;
}

section {
  margin: auto;
  width: 280px;
  height: 370px;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 20px;
}

.div-back {
  display: flex;
  flex: 1;
  gap: 8px;
  font-family: var(--bs-font-sans-serif);
}

.text-back {
  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;
}

h2 {
  display: flex;
  width: 100%;
  height: 36px;
  justify-content: center;
  text-decoration: 1px underline;
  text-underline-offset: 10px;
  font-family: var(--bs-font-sans-serif);
}

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px 0 20px;
}

label {
  font-family: var(--bs-font-sans-serif);
  font-size: 12px;
  color: var(--text-secondary);
  font-weight: 700;
}

input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border: none;
  box-shadow: 0px 1px 8px rgba(37, 42, 52, 0.4);
  border-radius: 11px;
  font-family: var(--bs-font-sans-serif);
  font-size: 11px;
}

input:focus {
  outline: none;
  border: var(--text-primary);
  box-shadow: 0 0 7px #dd473d;
}

.anchors-enter {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.enter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-hl);
  background-color: var(--text-primary);
  height: 35px;
  border: 1px solid var(--text-primary);
  border-radius: 8px;
  text-decoration: none;
  font-family: var(--bs-font-sans-serif);
  font-size: 12px;
}

.enter:hover {
  background-color: var(--default-bg);
  color: var(--text);
}
.recover-pass {
  text-decoration: none;
  text-align: center;
  background-color: none;
  font-family: var(--bs-font-sans-serif);
  font-size: 12px;
  color: var(--text-secondary);
}

.recover-pass:hover {
  color: black;
}

/*quebra de 992px p desktop*/
/*min-width 576px*/
