* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--default-bg);
}

section{
    margin: 0 !important;
}

.section-album {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.title {
    display: flex;

}

.img-album {
    border-radius: 8px;
    opacity: 0.5;
    margin: 2% 0 2%;
}

.img-album:hover {
    opacity: 1.0;
    cursor: pointer;
}

.button-album {
    font-family: var(--bs-font-sans-serif);
    color: var(--text-hl);
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    padding: 0px 10px;
    border: 1px solid var(--text-primary);
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
}

.album-proj img:hover {
    cursor: pointer;
    opacity: 1.0
}

.img-album:has(+ .button-album:hover) {
    cursor: pointer;
    opacity: 1.0
}


.album-proj {
    position: relative;
}

.album-proj .button-album {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pre-fotter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-pre-fotter {
    flex: 1;
    width: 100px;
    height: 100px;
    margin: 10px 0 10px;
}

.text-color {
    border-bottom: 1px solid #DB574D;
    font-family: var(--bs-font-sans-serif);
    line-height: 36px;
    color: #DB574D;
}

/*------------ NavBar-----------------*/

nav.bg-light {
    background-color: var(--default-bg) !important;
}

nav {
    min-height: 60px;
    grid-area: header;
}

.nav-link#home,
.nav-link#services,
.nav-link#projects,
.nav-link#contact,
.nav-link#gallery,
.nav-link#profile {
    color: var(--text-primary) !important;
    text-decoration: underline;
}

.btn.btn-default {
    background-color: var(--text-primary);
    border: 1px solid var(--text-primary);
    color: var(--text-hl);
}

.btn.btn-default:hover {
    border: 1px solid var(--text-primary);
}

.btn.btn-second {
    color: var(--text-primary);
}

.btn.btn-second:hover {
    border: 1px solid var(--text-primary);
}

.nav-link {
    color: var(--text) !important;
    padding: 8px 15px !important;
}

.nav-link:hover {
    color: var(--text-primary) !important;
    text-decoration: underline;
}

@media (min-width: 992px) {
    .nav-item .btn.btn-default {
        margin-top: 0px !important;
    }

    .navbar>.container-fluid {
        padding: 0 40px;
        justify-content: end !important;
    }

    .container-album {
        margin: 0 auto;
    }
}

/* -------- Footer -------- */

footer {
    background-color: var(--text-primary);
    color: var(--text-hl);
}

footer a {
    color: var(--text-hl);
    text-decoration: none;
}

footer a:hover {
    color: var(--text-hl);
}