
:root {
  --default-bg: #EEEDEE;
  --text: #000;
  --text-primary: #DB574D;
  --text-secondary: #BBBBBB;
  --text-hl: #fff;
  --bs-font-sans-serif: 'Poppins', sans-serif !important;
}

html {
  background-color: var(--default-bg);
}

/*------------ NavBar-----------------*/

.nav-link#home, .nav-link#services, .nav-link#projects, .nav-link#contact, .nav-link#gallery, .nav-link#profile {
  color: var(--text-primary) !important;
  text-decoration: underline;
}

.btn.btn-default {
  background-color: var(--text-primary);
  border: 1px solid var(--text-primary);
  color: var(--text-hl);
}

.btn.btn-default:hover {
  border: 1px solid var(--text-primary);
}

.btn.btn-second {
  color: var(--text-primary);
}

.btn.btn-second:hover {
  border: 1px solid var(--text-primary);
}

.nav-link {
  color: var(--text) !important;
  padding: 8px 15px !important;
}

.nav-link:hover {
  color: var(--text-primary) !important;
  text-decoration: underline;
}

nav.bg-light {
  background-color: var(--default-bg)!important;
}

@media (min-width: 992px) {
  .nav-item .btn.btn-default {
    margin-top: 0px !important;
  }

  .navbar>.container-fluid {
    padding: 0 40px;
    justify-content: end !important;
  }
}

/* -------- Fim da Navbar -------- */


