
@media (max-width: 992px) {
  .image-woman img{
    display: none;
  }

  .flex-section {
    align-items: center;
    gap: 5px;
    justify-content: center;
  }

  .logo-bottom {
    width: 15rem;
    margin-bottom: 50px;
  }
}
