@import url(./variables.css);

body {
  background-color: var(--default-bg) !important;
  margin: 0;
  font-family: var(--bs-font-sans-serif) !important;
}

/* Form*/

.contact-us {
  width: 500px;

}

.flex-section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 72px;
}

.flex-section h2 {
  font-weight: 400;
  line-height: 36px;
  color: var(--text);
  border-bottom: 1px solid var(--text);
  display: inline-block;
}

.flex-section form {
  width: 100%;
  height: 400px;
}

form input {
  width: 100%;
  height: 40px;
}

.form-group label {
  color: var(--text-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin: 10px 0;
}

.color:focus {
  outline: none;
  border: #dd473d !important;
  box-shadow: 0 0 7px var(--text-primary) !important;
}

.color {
  box-shadow: 0 1px 7px rgba(37, 42, 52, 0.4);
}

form input,
textarea {
  border-radius: 11px !important;
}

.decoration-textarea {
  color: var(--text-secondary);
  width: 100%;
  height: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

#subject {
  width: 150px;
  height: 36px;
}

.button {
  display: flex;
  justify-content: end;
  margin: 20px 0;
}

/* Image */

.image-woman img {
  width: 315px;
  height: 510px;
  border-radius: 40px;
}

/* Bottom */

.logo-bottom {
  width: 100px;
  height: 115px;
}

.flex-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo-bottom {
  width: 15rem;
  margin-bottom: 50px;
  margin-top: 20px;
}

/* Modal */

.modal-header {
  padding-bottom: 0 !important;
}

.modal-footer, .modal-header {
  border: none !important;
}

.modal-dialog {
  max-width: 350px !important;
}

.modal-body {
  padding: 0 !important;
}

.modal-body i {
  color: var(--text-primary);
  font-size: 3.5rem;
}